{% extends "base.html" %}

{% block title %}Post - {{content.title}}{% endblock %}
{% block ogtitle %}Post - {{content.title}}{% endblock %}
{% block twittertitle %}Post - {{content.title}}{% endblock %}

{% block description %} {{content.description}} {% endblock %}
{% block ogdescription %} {{content.description}} {% endblock %}
{% block twitterdescription %} {{content.description}} {% endblock %}
{% block twitter2description %} {{content.description}} {% endblock %}

{% block body %}
<main>
	{{ content}}
	<div class="commentbox"></div>
	<!--<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
	<script>commentBox('my-project-id')</script>-->
</main>
{% endblock %}